@model IEnumerable<ExpanseTrackingSystem.Context.Expanse>
@{
    
    int sl = 1;
}
<table class="table">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpanseCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpanseAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(sl++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpanseCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpanseAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



